# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Packaging
build/
dist/
*.spec
Output/

# Installer dependencies (Do not track large binaries)
vc_redist.x64.exe
vc_redist.x86.exe

# Local User Data & Logs
# Database.db
app.log
settings.json
backups/

# VS Code
.vscode/

#New PET
New PET/